body {
    font-family: Arial, sans-serif;
    margin: 0; /* espaçamento externo da página */
    padding: 0; /* espaçamento interno da página */
    background-color: #f4f4f4;
    text-align: center; /* texto centralizado */
}
header {
    background-color: #025cbd;
    color: white;
    /* 15px (espaçamento interno acima e abaixo) e 0px (direita e esquerda)*/
    padding: 10px 0px;
    font-size: 24px; 
}
nav {
    background: #007bff;
    padding: 10px; /* espaçamento interno do menu */
    display: flex; /* Flex Boxing */
    justify-content: space-between; /* espaço entre os elementos do menu*/
    align-items: center; /* alinhamento na vertical */
}
#links-menu{
    display: flex;
    gap: 20px; /* distância entre os itens do menu*/
}
nav a { /* configura os links do menu */
    color: white;
    text-decoration: none; /* não decora os links */
    padding: 10px 15px; /* (10px acima e abaixo) (15px é esquerda e direita)*/
    font-size: 18px;
    background: #0056b3;
    border-radius: 5px; /* cantos arredondados */
    transition-duration:300ms;
}

nav a:hover {
    background: orange;
    scale: 110%;
}

.selected {
    background-color: orange;
    transition-duration: 300ms;
}


img {
    width: 120px;
    height: auto;
    margin-right: 80px; /* espaçamento externo à direita */
    border-radius: 10px;
}

.container {
    width: 80%;
    background: rgb(232, 235, 245);
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px; 
    text-align: justify;
    box-shadow: 0 0 5px #000000ce;
}
h2 {
    text-align: center;
}

ol li {
    padding-bottom: 10px;
}

table {
    justify-self: center;
}

table tr td {
    padding: 10px;
}

table thead tr th {
    padding: 10px;
}

tr th {
    text-align: center;
}

table {
border: 2px solid black;
  border-collapse: collapse;
}

table tbody tr th {
    padding: 0 15px;
}

tr:nth-child(even) {
    background-color: rgb(212, 212, 212);
}

thead {
    background: navy;
    color: white;
}

.laranja {
    background: orange;   
}

.preto {
    background: black;
    color: white;
}

.roxo {
    background: purple;
}

.verde {
    background: green;
}

.vermelho {
    background: red;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.campos {
    margin-bottom: 20px
}

.message {
    padding: 10px;
    background-color: rgb(171, 203, 204);
    border: 1px solid black;
}
.message2 {
    padding: 5px;
    background-color: rgb(165, 185, 185);
    border: 1px solid black;
}

table {
    margin-bottom: 20px;
}

input, select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #0056b3;
    color: white;
}